#container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px;
    outline: 1px solid black;
}

.row {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#reset {}